In [8]:
import pandas as pd

df = pd.read_csv(r"E:/Project_04/PatrolIQ/data/processed/chicago_crime_500k_clean.csv")

In [2]:
df.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,14073291,JK103029,01/03/2026 12:00:00 AM,076XX S MARQUETTE AVE,2028,NARCOTICS,POSSESS - SYNTHETIC DRUGS,STREET,True,False,...,7.0,43.0,18,1195647.0,1854999.0,2026,01/10/2026 03:41:58 PM,41.757015,-87.558546,"(41.757014693, -87.558546342)"
1,14073332,JK102699,01/03/2026 12:00:00 AM,022XX W RACE AVE,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,...,36.0,24.0,14,1161140.0,1903698.0,2026,01/10/2026 03:41:58 PM,41.891434,-87.683659,"(41.891433609, -87.683659109)"
2,14074066,JK103773,01/03/2026 12:00:00 AM,053XX N SHERIDAN RD,0620,BURGLARY,UNLAWFUL ENTRY,APARTMENT,False,False,...,48.0,77.0,05,1168675.0,1935712.0,2026,01/10/2026 03:41:58 PM,41.979122,-87.655057,"(41.97912164, -87.655056515)"
3,14075945,JK105790,01/03/2026 12:00:00 AM,047XX N MILWAUKEE AVE,1320,CRIMINAL DAMAGE,TO VEHICLE,ALLEY,False,False,...,45.0,15.0,14,1140416.0,1930713.0,2026,01/10/2026 03:41:58 PM,41.965971,-87.759105,"(41.965970956, -87.75910497)"
4,14073122,JK102877,01/03/2026 12:00:00 AM,033XX W IRVING PARK RD,0710,THEFT,THEFT FROM MOTOR VEHICLE,STREET,False,False,...,33.0,16.0,06,1153248.0,1926392.0,2026,01/10/2026 03:41:58 PM,41.953868,-87.712039,"(41.953868164, -87.712038985)"

In [9]:
df.isnull().sum()

ID                      0
Case Number             0
Date                    0
Block                   0
IUCR                    0
Primary Type            0
Description             0
Location Description    0
Arrest                  0
Domestic                0
Beat                    0
District                0
Ward                    0
Community Area          0
FBI Code                0
X Coordinate            0
Y Coordinate            0
Year                    0
Updated On              0
Latitude                0
Longitude               0
Location                0
dtype: int64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 492966 entries, 0 to 492965
Data columns (total 22 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   ID                    492966 non-null  int64
 1   Case Number           492966 non-null  object
 2   Date                  492966 non-null  object
 3   Block                 492966 non-null  object
 4   IUCR                  492966 non-null  object
 5   Primary Type          492966 non-null  object
 6   Description           492966 non-null  object
 7   Location Description  492966 non-null  object
 8   Arrest                492966 non-null  bool
 9   Domestic              492966 non-null  bool
 10  Beat                  492966 non-null  int64
 11  District              492966 non-null  float64
 12  Ward                  492966 non-null  float64
 13  Community Area        492966 non-null  float64
 14  FBI Code              492966 non-null  object
 15  X Coordinate          492966 non-null  float64
 16  Y Coordinate          492966 non-null  float64
 17  Year                  492966 non-null  int64
 18  Updated On            492966 non-null  object
 19  Latitude              492966 non-null  float64
 20  Longitude             492966 non-null  float64
 21  Location              492966 non-null  object
dtypes: bool(2), float64(7), int64(3), object(10)
memory usage: 76.2+ MB

In [16]:
df["Community Area"].unique()

array([49., 28., 43., 25., 66.,  8.,  5.,  3., 44.,  1., 22., 27., 29.,
       30., 31., 23., 32., 10., 20., 21.,  7.,  4., 73., 76., 26., 67.,
       38., 35., 51., 24., 77.,  6., 61., 59., 69., 68., 46., 42., 48.,
       19.,  2., 53., 55., 45., 34., 57., 50., 65., 72., 15., 41., 71.,
       16., 33., 64., 40., 36., 17., 39., 60., 63., 58., 70., 18., 74.,
       14., 75., 12., 13., 62., 52., 56., 37., 54., 11., 47.,  9.])